<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Parkoto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{path('accueil')}}">Accueil</a>
            </li>
            {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('voitures') }}">Voitures</a>
                </li>
            {% endif %}
            
            <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">&#128273;</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if not app.user %}
                        <a class="dropdown-item" href="{{ path('inscription') }}">Inscription</a>
                        <a class="dropdown-item" href="{{ path('login') }}">Connexion</a>
                    {% else %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" href="{{ path('admin') }}">Administration</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a>
                    {% endif %}
                </div>
			</li>
        </ul>
    </div>
</nav>